<launch>

    <arg name="override_config_file" default=""/>
    <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
    <arg name="global_map_topic" default="/struct_mapping/occ_map"/>
    <arg name="global_planner_allow_unknown" default="false"/>

    <node pkg="nav_pkg" type="relay_node" name="relay_node" output="screen"/>

    <node pkg="move_base" type="move_base" name="move_base" output="screen" >
        <rosparam file="$(find nav_pkg)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_pkg)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find nav_pkg)/configs/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pkg)/configs/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pkg)/configs/move_base_params.yaml" command="load" />
        <param name="global_costmap/static_layer/map_topic" type="string" value="$(arg global_map_topic)" />
        <param name="global_replan_map_topic" type="string" value="$(arg global_map_topic)" />
        <param name="base_global_planner" type="string" value="global_planner/GlobalPlanner" />
        <param name="GlobalPlanner/use_dijkstra" value="true" />
        <param name="GlobalPlanner/use_quadratic" value="true" />
        <param name="GlobalPlanner/use_grid_path" value="false" />
        <param name="GlobalPlanner/allow_unknown" value="$(arg global_planner_allow_unknown)" />
        <param name="GlobalPlanner/orientation_window_size" value="8" />
        <param name="GlobalPlanner/path_smoothing_enabled" value="true" />
        <param name="GlobalPlanner/path_smoothing_resample_distance" value="0.05" />
        <param name="GlobalPlanner/path_smoothing_max_skip" value="40" />
        <param name="GlobalPlanner/path_smoothing_max_cost" value="252" />
        <param name="GlobalPlanner/path_smoothing_cost_slack" value="12" />
        <param name="base_local_planner" value="$(arg base_local_planner)"/>
        <rosparam file="$(find nav_pkg)/configs/controller/dwa_controller_params.yaml" command="load" />
        <rosparam if="$(eval arg('override_config_file') != '')"
                  file="$(arg override_config_file)"
                  command="load" />
    </node>

</launch>
