actionlib==1.14.3
addict==2.4.0
angles==1.9.14
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
asttokens==3.0.1
attrs==25.4.0
base_local_planner==1.17.3
blinker==1.9.0
bondpy==1.8.7
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catkin==0.8.12
catkin-pkg==1.1.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.1.8
comm==0.2.3
ConfigArgParse==1.7.1
contourpy==1.3.0
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
dash==3.3.0
decorator==5.2.1
defusedxml==0.7.1
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
distro==1.9.0
docutils==0.22.3
dynamic-reconfigure==1.7.6
dynamixel_sdk==3.8.0
einops==0.8.1
exceptiongroup==1.3.1
executing==2.2.1
faiss==1.8.0
fastjsonschema==2.21.2
filelock==3.19.1
Flask==3.1.2
fonttools==4.60.1
fsspec==2025.10.0
ftfy==6.3.1
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
#-e git+https://github.com/bagh2178/SG-Nav.git@d56863c96dea311aaa67fb0d39a1a8ccc3f0487f#egg=groundingdino&subdirectory=GroundingDINO
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
image-geometry==1.16.2
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
interactive-markers==1.12.2
ipython==8.18.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
laser-geometry==1.6.8
lazy_loader==0.4
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.1
message-filters==1.17.4
more-itertools==10.8.0
narwhals==2.12.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.2
numpy==1.26.4
ollama==0.6.1
omegaconf==2.3.0
open3d==0.19.0
opencv-python==4.12.0.88
#packaging @ file:///home/task_176104876094959/conda-bld/packaging_1761049077121/work
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.4.0
plotly==6.5.0
prettytable==3.16.0
prompt_toolkit==3.0.52
pslpython==2.3.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycocotools==2.0.10
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-qt-binding==0.4.6
pytorch3d==0.7.2
pytz==2025.2
PyYAML==6.0.3
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
resource-retriever==1.12.10
retrying==1.4.2
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospkg==1.6.0
rospy==1.17.4
rosserial_python==0.9.2
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rpds-py==0.27.1
rqt-action==0.4.11
rqt-bag==0.5.3
rqt-bag-plugins==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui==0.5.5
rqt-gui-py==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rviz==1.14.26
safetensors==0.7.0
scikit-fmm==2025.1.29
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
#-e git+https://github.com/bagh2178/SG-Nav.git@d56863c96dea311aaa67fb0d39a1a8ccc3f0487f#egg=segment_anything&subdirectory=segment_anything
sensor-msgs==1.13.2
six==1.17.0
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.7
socksio==1.0.0
stack-data==0.6.3
supervision==0.27.0
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
tf2-sensor-msgs==0.7.10
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==0.6.13
tokenizers==0.13.3
tomli==2.3.0
topic-tools==1.17.4
torch==1.9.1+cu111
torchvision==0.10.1+cu111
tqdm==4.67.1
traitlets==5.14.3
transformers==4.30.0
turtlebot3_example==1.2.5
turtlebot3_teleop==1.2.5
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.14
Werkzeug==3.1.4
widgetsnbextension==4.0.15
xacro==1.14.20
yacs==0.1.8
yapf==0.43.0
zipp==3.23.0
