<?xml version="1.0"?>
<launch>
  <arg name="config_file" default="$(find physical_nav)/config/physical_nav.yaml"/>
  <arg name="model_path" default="/home/user/ldl/molmospaces/detection_models/yoloe/weights/yoloe-26l-seg-pf.pt"/>
  <arg name="device" default="cuda:0"/>
  <arg name="camera_x" default="0.0"/><arg name="camera_y" default="0.0"/><arg name="camera_z" default="0.0"/>
  <arg name="camera_roll" default="0.0"/><arg name="camera_pitch" default="0.0"/><arg name="camera_yaw" default="0.0"/>
  <include file="$(find semantic_mapping_py_pkg)/launch/semantic_mapping_py.launch">
    <arg name="config_file" value="$(arg config_file)"/>
    <arg name="start_object_detection" value="true"/>
    <arg name="start_room_attribute" value="false"/>
    <arg name="start_semantic_mapping" value="true"/>
    <arg name="start_attribute_inference" value="false"/>
    <arg name="object_detection_backend" value="yoloe_pf_box3d"/>
    <arg name="object_detection_provider" value="yoloe_local"/>
    <arg name="object_detection_model_path" value="$(arg model_path)"/>
    <arg name="object_detection_device" value="$(arg device)"/>
    <arg name="publish_debug_markers" value="true"/>
    <arg name="publish_debug_segmented_cloud" value="true"/>
    <arg name="publish_debug_detection_image" value="true"/>
    <arg name="publish_debug_world_markers" value="true"/>
    <arg name="publish_debug_world_segmented_cloud" value="true"/>
  </include>
  <!-- D435i cloud drives the existing 2-D occupancy mapper. All remaps are
       scoped to this physical launch, keeping simulator topics unchanged. -->
  <group>
    <remap from="/registered_scan" to="/physical_nav/points"/>
    <remap from="/struct_mapping/occ_map" to="/physical_nav/occupancy"/>
    <remap from="/struct_mapping/occ_map_updates" to="/physical_nav/occupancy_updates"/>
    <remap from="/filtered_pointcloud" to="/physical_nav/filtered_pointcloud"/>
    <remap from="/odom" to="/physical_nav/odom"/>
  <include file="$(find struct_mapping_pkg)/launch/slam_gmapping.launch">
      <arg name="mapping_scan_source" value="pointcloud"/>
      <arg name="mapping_scan_topic" value="/physical_nav/points"/>
    </include>
  </group>
  <node name="physical_ros_gateway" pkg="physical_nav" type="physical_ros_gateway.py" output="screen" respawn="true">
    <param name="web_url" value="http://127.0.0.1:8765"/>
    <param name="camera_frame" value="d435i_color_optical_frame"/>
    <param name="camera_parent" value="tf_frame_base_link"/>
    <param name="camera_x" value="$(arg camera_x)"/><param name="camera_y" value="$(arg camera_y)"/><param name="camera_z" value="$(arg camera_z)"/>
    <param name="camera_roll" value="$(arg camera_roll)"/><param name="camera_pitch" value="$(arg camera_pitch)"/><param name="camera_yaw" value="$(arg camera_yaw)"/>
  </node>
  <node name="physical_nav_consistency" pkg="physical_nav" type="physical_consistency_node.py" output="screen" respawn="true"/>
</launch>
